html{
    scroll-behavior: smooth;
}
body{
    background-color: #434e52;
    font-family: 'Josefin Sans', sans-serif;
    padding: 35px;
}
h1{
    font-size: 150px;
    color: #dee3e2;
}
img{
    width: fit-content;
    height: fit-content;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #dee3e2;
  }
  
  .openbtn {
    cursor: pointer;
    font-size: 100px;
    color: #dee3e2;
    background-color: #434e52;
    font-family: 'Josefin Sans', sans-serif;
    padding: 35px;
    border: none;
    outline: none;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
